.require form{
	padding:20px 10px 20px 10px;
	font-size:18px;
	font-family:Arial;
}
.require input{
	border:none;
	font-size:18px;
	margin-bottom:20px;
	border-radius:0px;
	box-shadow:none;
	margin-left:0px;
	width:100%;
}
.require {
	background:#FFF;
	box-shadow:0px 0px 10px;
	padding:25px;
}
.require h4{
	padding-top:10px;
}
.form-control:focus{
	border-bottom:1px solid blue !important;
	box-shadow:none;
}
.photo{
	border:1px solid #FFF;
	border-radius:4px;
}
.photo img{
	border-radius:80%;
	width:70%;
	height:230px;
}
.form-control{
	padding:6px 12px 6px 0px;
}
.login input[type=password]{
	border-bottom:1px solid #B3B3B3;

}
.login input[type=email]{
	border-bottom:1px solid #B3B3B3;
}
.login .btn-success{
	width:80%;
	color:#FFF;
	font-size:20px;
	background:black;
	border:black;
	box-shadow: 0px 0px 10px;
	text-align:center;
	padding:5px;
	margin-top:30px;
	margin-bottom:50px;
}

.connect hr{
	margin-top: -20px;
}
.extend{
	background: #222;
	color: #FFF;
}
.extend p{
	text-align: center;
	font-family: Tahoma;
}